In [2]:
# from pykrx import stock
# import matplotlib.pyplot as plt
import FinanceDataReader as fdr
# import pandas as pd
import numpy as np
# import scipy.stats as stats

# ticker = "012030"

# t_name = stock.get_market_ticker_name(ticker)

# a = stock.get_market_ohlcv("20220720", "20220810", ticker)

In [15]:
df_krx = fdr.StockListing('KOSPI').filter(["Code","Name"])

In [16]:
df_krx = fdr.StockListing('KRX').filter(["Code","Name"])

In [17]:
df_krx

        Code      Name
0     005930      삼성전자
1     000660    SK하이닉스
2     373220  LG에너지솔루션
3     207940  삼성바이오로직스
4     005935     삼성전자우
...      ...       ...
2784  217320       썬테크
2785  288490     나라소프트
2786  308700       테크엔
2787  245450    씨앤에스링크
2788  322190        베른

[2789 rows x 2 columns]

In [18]:
stock = fdr.DataReader(stockCode[0],startDate,endDate).filter(['Close','Change'])
print(stock['Change'].var())

NameError: name 'stockCode' is not defined

In [ ]:
stock = fdr.DataReader("005930","20220601","20220630").filter(['Close','Change'])
stock2 = stock.reset_index()
stock2

         Date  Close    Change
0  2022-06-02  66700 -0.010386
1  2022-06-03  66800  0.001499
2  2022-06-07  65500 -0.019461
3  2022-06-08  65300 -0.003053
4  2022-06-09  65200 -0.001531
5  2022-06-10  63800 -0.021472
6  2022-06-13  62100 -0.026646
7  2022-06-14  61900 -0.003221
8  2022-06-15  60700 -0.019386
9  2022-06-16  60900  0.003295
10 2022-06-17  59800 -0.018062
11 2022-06-20  58700 -0.018395
12 2022-06-21  58500 -0.003407
13 2022-06-22  57600 -0.015385
14 2022-06-23  57400 -0.003472
15 2022-06-24  58400  0.017422
16 2022-06-27  58800  0.006849
17 2022-06-28  59400  0.010204
18 2022-06-29  58000 -0.023569
19 2022-06-30  57000 -0.017241

In [ ]:
for i in stock:
    print(i)

Close
Change

In [ ]:
for i in range(len(stock)):
    print(stock.iloc[i]['Close'])

66700.0
66800.0
65500.0
65300.0
65200.0
63800.0
62100.0
61900.0
60700.0
60900.0
59800.0
58700.0
58500.0
57600.0
57400.0
58400.0
58800.0
59400.0
58000.0
57000.0

In [ ]:
startDate = '2022-06-01'
endDate = '2023-01-01'

stockCode = ['016380','004690']

n=len(stockCode)

# cnt = [20,30,50]

cnt = [40, 60]

# w1 = 0.2
# w2 = 0.3
# w3 = 0.5

In [ ]:
start_price = []
end_price = []
start_value = []
end_value = []
ugl = []
return_rate = []
avg_change = []
var_change = []

total_start_value = 0
total_end_value = 0

for i in range(n):
    stock = fdr.DataReader(stockCode[i],startDate,endDate).filter(['Close','Change'])
    
    start_price.append(stock['Close'][0])
    end_price.append(stock['Close'][-1])
    start_value.append(start_price[i] * cnt1)
    end_value.append(end_price[i] * cnt1)
    ugl.append(end_value[i] - start_value[i])
    return_rate.append(ugl[i] / start_value[i])
    avg_change.append(stock['Change'].mean())
    var_change.append(stock['Change'].var())
    total_start_value += start_value[i]
    total_end_value += end_value[i]

total_ugl = total_end_value - total_start_value
total_rr = total_ugl / total_start_value
    
pf_err = 0

for i in range(n):
    w = cnt[i] / sum(cnt)
    pf_err += (w * avg_change[i])

pf_risk = 0  

for i in range(n):
    for j in range(n):
        stock_i = fdr.DataReader(stockCode[i],startDate,endDate).filter(['Close','Change'])
        stock_j = fdr.DataReader(stockCode[j],startDate,endDate).filter(['Close','Change'])
        w_i = cnt[i] / sum(cnt)
        w_j = cnt[j] / sum(cnt)
#         v = w_i * w_j * np.sqrt(var_change[i]) * np.sqrt(var_change[j]) *  stats.pearsonr(stock_i['Change'],stock_j['Change'])[0]
        print(w_i, w_j,np.sqrt(var_change[i]),np.sqrt(var_change[j]),stats.pearsonr(stock_i['Change'],stock_j['Change'])[0])
        pf_risk += (w_i * w_j * np.sqrt(var_change[i]) * np.sqrt(var_change[j]) *  stats.pearsonr(stock_i['Change'],stock_j['Change'])[0])

print(total_start_value, total_end_value, total_ugl, total_rr)
print(pf_err, pf_risk)
# stock1_start_price = stock1['Close'][0]
# stock1_end_price = stock1['Close'][-1]
# stock1_start_value = stock1_start_price * cnt1
# stock1_end_value = stock1_end_price * cnt1
# stock1_ugl = end_value - start_value
# stock1_rr = stock1_ugl / stock1_start_value

# stock2_start_price = stock2['Close'][0]
# stock2_end_price = stock2['Close'][-1]
# stock2_start_value = stock2_start_price * cnt2
# stock2_end_value = stock2_end_price * cnt2
# stock2_ugl = end_value - start_value
# stock2_rr = stock2_ugl / stock2_start_value

# stock3_start_price = stock3['Close'][0]
# stock3_end_price = stock3['Close'][-1]
# stock3_start_value = stock3_start_price * cnt3
# stock3_end_value = stock3_end_price * cnt1
# stock3_ugl = end_value - start_value
# stock3_rr = stock3_ugl / stock3_start_value

# stock1_avg_change = stock1['Change'].mean()
# stock2_avg_change = stock2['Change'].mean()
# stock3_avg_change = stock3['Change'].mean()

# stock1_var_change = stock1['Change'].var()
# stock2_var_change = stock2['Change'].var()
# stock3_var_change = stock3['Change'].var()

0.4 0.4 0.031690955994281816 0.031690955994281816 1.0
0.4 0.6 0.031690955994281816 0.021572909169017097 0.19126537798186954
0.6 0.4 0.021572909169017097 0.031690955994281816 0.19126537798186954
0.6 0.6 0.021572909169017097 0.021572909169017097 1.0
3527000 7967800 4440800 1.2590870428125887
0.0017577721797877375 0.0003909968141029941

In [ ]:
df_krx

        Code      Name
0     005930      삼성전자
1     000660    SK하이닉스
2     373220  LG에너지솔루션
3     207940  삼성바이오로직스
4     005935     삼성전자우
...      ...       ...
2783  217320       썬테크
2784  288490     나라소프트
2785  308700       테크엔
2786  245450    씨앤에스링크
2787  322190        베른

[2788 rows x 2 columns]

KeyError: 'Close'

In [ ]:
# STOCK INSERT

# import psycopg2
# from psycopg2 import extras
# import FinanceDataReader as fdr

# df_krx = fdr.StockListing('KRX').filter(["Code","Name"])

# conn = psycopg2.connect("host=localhost dbname=difi user=postgres password=59795977 port=5432")
# cur = conn.cursor()


# values = df_krx.to_records(index=False).tolist()

# # 데이터프레임을 PostgreSQL에 삽입
# insert_query = """
#     INSERT INTO difi_stock (stock_ticker, stock_name)
#     VALUES %s;
# """
# extras.execute_values(cur, insert_query, values)

# # 변경사항 커밋 및 연결 종료
# conn.commit()
# cur.close()

In [ ]:
stock_timestamp = fdr.DataReader('000810',"2024-01-20","2024-01-27").filter(['Close','Change'])

In [ ]:
stock_timestamp

            Close    Change
Date
2024-01-17  71000 -0.022039
2024-01-18  71700  0.009859
2024-01-19  74700  0.041841
2024-01-22  75100  0.005355
2024-01-23  75200  0.001332
2024-01-24  74000 -0.015957
2024-01-25  74100  0.001351

In [ ]:
start_date_close = stock_timestamp.loc['2024-01-17','Close']
start_date_close

71000.0

In [ ]:
start_date_close = stock_timestamp.iloc[0,1]
start_date_close

71000

In [ ]:
stock_timestamp = stock_timestamp.reset_index()

In [ ]:
stock_timestamp

             Close    Change
Date
2024-01-22  234000  0.010799
2024-01-23  236000  0.008547
2024-01-24  237000  0.004237
2024-01-25  241000  0.016878
2024-01-26  241000  0.000000

In [20]:
# kospi 수익률 표준편차
from tqdm import tqdm

# df_kospi500 = fdr.StockListing('KS11').filter(["Code","Name"]).head(100)
kospi_index = fdr.DataReader("KS11","2024-01-20","2024-01-27").filter(['Change'])

kospi_std = np.std(kospi_index["Change"])
kospi_std

0.003687492372873468

In [29]:
stock_timestamp = fdr.DataReader('000810',"2024-01-20","2024-01-27").filter(['Close','Change'])
stock_timestamp

             Close    Change
Date
2024-01-22  234000  0.010799
2024-01-23  236000  0.008547
2024-01-24  237000  0.004237
2024-01-25  241000  0.016878
2024-01-26  241000  0.000000

In [5]:
import pandas as pd
weight = np.array([565200/1028600, 159200/1028600, 304200/1028600])
stock_timestamp1 = fdr.DataReader('005930',"2023-12-30","2024-01-30").filter(['Change']).rename(columns={'Change': '005940'})
stock_timestamp2 = fdr.DataReader('03473K',"2023-12-30","2024-01-30").filter(['Change']).rename(columns={'Change': '03473K'})
stock_timestamp3 = fdr.DataReader('066570',"2023-12-30","2024-01-30").filter(['Change']).rename(columns={'Change': '066570'})
merged_df = pd.merge(stock_timestamp1, stock_timestamp2, left_index=True, right_index=True)
merged_df = pd.merge(merged_df, stock_timestamp3, left_index=True, right_index=True)
cov_matrix = merged_df.cov() * len(merged_df)
print(cov_matrix)
variance = np.dot(weight.T, np.dot(cov_matrix, weight))
print(variance)
volatility = np.sqrt(variance) 
print(volatility)

          005940    03473K    066570
005940  0.005555  0.001858  0.002384
03473K  0.001858  0.003313  0.001633
066570  0.002384  0.001633  0.004061
0.003352062178032108
0.05789699627814994

In [7]:
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

stock_timestamp1 = fdr.DataReader('005930',"2023-12-30","2024-01-30").filter(['Close']).rename(columns={'Close': '005940'})
stock_timestamp2 = fdr.DataReader('03473K',"2023-12-30","2024-01-30").filter(['Close']).rename(columns={'Close': '03473K'})
stock_timestamp3 = fdr.DataReader('066570',"2023-12-30","2024-01-30").filter(['Close']).rename(columns={'Close': '066570'})
print(stock_timestamp1)
merged_df = pd.merge(stock_timestamp1, stock_timestamp2, left_index=True, right_index=True)
merged_df = pd.merge(merged_df, stock_timestamp3, left_index=True, right_index=True)

mu = expected_returns.mean_historical_return(merged_df, frequency=len(merged_df))
# mu = cov_matrix
s = risk_models.sample_cov(merged_df, frequency=len(merged_df))
print(mu)
print(s)

            005940
Date
2024-01-02   79600
2024-01-03   77000
2024-01-04   76600
2024-01-05   76600
2024-01-08   76500
2024-01-09   74700
2024-01-10   73600
2024-01-11   73200
2024-01-12   73100
2024-01-15   73900
2024-01-16   72600
2024-01-17   71000
2024-01-18   71700
2024-01-19   74700
2024-01-22   75100
2024-01-23   75200
2024-01-24   74000
2024-01-25   74100
2024-01-26   73400
2024-01-29   74400
2024-01-30   74300
005940   -0.069793
03473K   -0.028219
066570   -0.071325
dtype: float64
          005940    03473K    066570
005940  0.005531  0.001867  0.002519
03473K  0.001867  0.003463  0.001722
066570  0.002519  0.001722  0.004274

In [8]:
variance = np.dot(weight.T, np.dot(s, weight))
variance

0.0034207023169771163

Close_x   -0.069793
Close_y   -0.028219
Close     -0.071325
dtype: float64

In [9]:
variance

0.0034207023169771163

In [10]:
ef = EfficientFrontier(mu, s)
weights = ef.max_sharpe(risk_free_rate=-1)
cleaned_weights = ef.clean_weights()
print(cleaned_weights)
ef.portfolio_performance(verbose=True)

OrderedDict([('005940', 0.14682), ('03473K', 0.55753), ('066570', 0.29565)])
Expected annual return: -4.7%
Annual volatility: 5.2%
Sharpe Ratio: 18.47

c:\Users\User\miniconda3\Lib\site-packages\pypfopt\efficient_frontier\efficient_frontier.py:441: UserWarning: The risk_free_rate provided to portfolio_performance is different to the one used by max_sharpe. Using the previous value.
  warnings.warn(

(-0.047067180940859356, 0.0515876679369929, 18.47210500430092)

In [164]:
print(cleaned_weights)

OrderedDict([('Close_x', 0.01222), ('Close_y', 0.91308), ('Close', 0.0747)])

In [198]:
from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices

latest_prices = get_latest_prices(merged_df)
t = latest_prices.astype(float)
print(t)
weights = cleaned_weights
# weights = np.asarray([1, 2, 3, 4], dtype=np.float64)
print(weights)
da = DiscreteAllocation(weights, t, total_portfolio_value=1028600)

allocation, leftover = da.lp_portfolio(verbose=True)

allocation2, leftover2 = da.greedy_portfolio(verbose=True)

print("allocation", allocation)
print("leftover", leftover)
print("allocation2", allocation2)
print("leftover2", leftover2)

# allocation = da.greedy_portfolio()

Close_x     74300.0
Close_y    137500.0
Close       94500.0
Name: 2024-01-30 00:00:00, dtype: float64
OrderedDict([('Close_x', 0.14682), ('Close_y', 0.55753), ('Close', 0.29565)])
Funds remaining: 46499.99
Close_x: allocated 0.151, desired 0.147
Close_y: allocated 0.560, desired 0.558
Close: allocated 0.289, desired 0.296
Allocation has RMSE: 0.005
Funds remaining: 46500.00
Close_y: allocated 0.560, desired 0.558
Close: allocated 0.289, desired 0.296
Close_x: allocated 0.151, desired 0.147
Allocation has RMSE: 0.005
allocation {'Close_x': 2, 'Close_y': 4, 'Close': 3}
leftover 46499.98907237826
allocation2 {'Close_y': 4, 'Close': 3, 'Close_x': 2}
leftover2 46500.0

c:\Users\User\miniconda3\Lib\site-packages\cvxpy\problems\problem.py:1403: UserWarning: Solution may be inaccurate. Try another solver, adjusting the solver settings, or solve with verbose=True for more information.
  warnings.warn(

In [175]:
print(allocation)
print(leftover)

{'Close_y': 6, 'Close': 1, 'Close_x': 1}
34800.0